.wrapper {
    background: #fff;
    padding-bottom: 70px;
    padding-top: 70px;

    .title {
        display: block;
        text-align: center;
        font-family: Gilroy;
        font-size: 3rem;
        font-weight: bold;
        line-height: 3rem;
    }

    .text {
        display: block;
        width: 65%;
        margin: 40px auto 0 auto;
        text-align: center;
        font-family: Gilroy;
        color: #414042;
        font-size: 1rem;
    }
}

@media(max-width: 575px) {
    .wrapper {
        padding-bottom: 2em;
        padding-top: 2em;

        .title {
            font-size: 1.6rem;
            line-height: 1.6rem;
        }

        .text {
            width: 100%;
            margin: 1em auto 0 auto;
            font-size: 1rem;
        }
    }
}
