#root
  background: linear-gradient(355.05deg, rgba(52, 99, 248, 0) 71.25%, rgba(52, 99, 248, 0.31) 106.45%), #FFFFFF
.home
  max-width: 1400px
  margin: 0 auto
  .home_main
    display: flex
    flex-direction: column
  h2
    text-align: center
    margin-top: 320px
    margin-bottom: 50px
    font-style: normal
    font-weight: 600
    font-size: 40px
    line-height: 49px
@media screen and (max-width: 768px)
  h2
    font-size: 28px
    line-height: 34px
    margin-top: 117px