.wrapper_home
  background: linear-gradient(355.05deg, rgba(52, 99, 248, 0) 71.25%, rgba(52, 99, 248, 0.31) 106.45%), #FFFFFF

.home
  max-width: 1400px
  margin: 0 auto
  align-items: center
  justify-content: center
  .home_main
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 auto
    max-width: 1025px
    width: 100%
    margin-top: 245px
    a
      color: #fff
      width: 240px
      height: 65px
      font-style: normal
      font-weight: 600
      font-size: 22px
      line-height: 27px
      background: #3463f8
      border-radius: 13px
      border: none
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      text-decoration: none
      &:hover
        background: #2953db
    h1
      font-weight: 700
      font-size: 72px
      line-height: 89px
      width: auto
      margin-bottom: 25px
      text-align: center
    span
      font-size: 22px
      line-height: 26px
      color: #666666
      margin-bottom: 52px
  h2
    text-align: center
    margin-top: 320px
    margin-bottom: 50px
    font-style: normal
    font-weight: 600
    font-size: 40px
    line-height: 49px
@media screen and (max-width: 768px)
  .home
    .home_main
      h1
        font-size: 36px
        line-height: 41px
      span
        font-size: 16px
        line-height: 19px
        color: rgb(21, 21, 21)
      a
        font-size: 16px