.cardContainer{outline:none}
.cardContainer .card{background:#fff;margin:.5rem 2.5% 0 2.5%;padding:2rem 10% 0 10%;height:14rem;border-radius:1rem}
.cardContainer .card .image{display:flex;justify-content:center}
.cardContainer .card .image img{width:28%}
.cardContainer .card .cardTitle{display:block;text-align:center;margin-top:.8rem;font-size:1.3rem;font-family:Gilroy;font-weight:bold}
.cardContainer .card h4{margin-top:0rem !important;font-weight:700}
.cardContainer .card .text{display:block;text-align:center;margin-top:.8rem;font-size:1rem;font-family:Gilroy;color:#414042}
.cardContainer.active .card{padding:4rem 10% 1rem 10%;height:15rem;margin-top:0}
.cardContainer.active .text{margin-top:2rem}
@media(max-width: 575px){
    .cardContainer{outline:none}
    .cardContainer .card{margin:0 2.5%}
    .cardContainer.active .card{margin:0 2.5%;height:14rem}
    .cardContainer.active .text{margin-top:.8rem}}
@media(min-width: 576px)and (max-width: 768px){
    .cardContainer{outline:none}
    .cardContainer .card{margin:0 2.5%}
    .cardContainer.active .card{margin:0 2.5%;height:14rem}
    .cardContainer.active .text{margin-top:.8rem}}