footer
    display: flex
    justify-content: space-between
    height: 210px
    align-items: center
    padding: 1rem
    margin: 0 5%
    .navigate
        display: flex
        align-items: center
        gap: 32px
        a
            font-weight: 700
            font-size: 18px
            line-height: 22px
            color: #000000
            text-decoration: none
            &:hover
                text-decoration: underline
    .info
        max-width: 415px
        font-size: 18px
        line-height: 21px
@media (max-width: 1200px)
    footer
        flex-direction: column-reverse
        justify-content: space-evenly
        .info
            text-align: center
            font-size: 16px
            line-height: 19px
@media (max-width: 600px)
    footer
        height: 350px
        .navigate
            flex-direction: column
            gap: 24px
        .info
            text-align: justify